{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinscribe</title>
</head>
<body>

    <nav>
        <div>
            <img src="{% static 'images/logo.png' %}" alt="logo">

            <ul>
                <li><a href="{% url 'user:home' %}">Home</a></li>
                <li><a href="{% url 'user:update' username=user.username %}">Profile</a></li>
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div>
        {% block content %}{% endblock content %}
    </div>
</body>
</html>