{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>About Us</title>
{% endblock head %}

{% block body %}
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
                <h1>Hell-o-o?</h1>
                <p>
                    This page isn't here to take your call right now, but you can leave us a message or head back to Pinterest.
                </p>
            </div>
            </div>
        </div>
    </div>
    
{% endblock body %}